.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	position: relative;
	border-radius: 1rem;
	padding: 4rem 0 6rem;
	background-color: $grayish-blue;

	h3 {
		color: $neon-green;
		text-transform: uppercase;
		font-size: 1.1rem;
		font-weight: 600;
		word-spacing: 0.3rem;
		letter-spacing: 0.34rem;
	}

	h1 {
		color: $light-cyan;
		margin-top: 2.7rem;
		line-height: 3.2rem;
		font-size: 2rem;
		font-weight: 800;
		letter-spacing: 0.2rem;
		text-align: center;
		word-spacing: -0.3rem;
		max-width: 305px;
	}

	.divider {
		&--mobile {
      margin-top: 2.4rem;
		}

		&--desktop {
			display: none;
		}
	}

	.dice {
		position: absolute;
    bottom: 0;
    transform: translateY(50%);
		background-color: $neon-green;
		padding: 1.8rem;
		border-radius: 50%;
		transition: filter 0.3s ease;

		&:hover {
			cursor: pointer;
			filter: drop-shadow(0 0 1.7rem $neon-green);
		}
	}
}
